{% extends "base.html" %}

{% block content %}



<div class="container-fluid border fw-normal shadow-sm p-2 mb-5 rounded d-flex flex-wrap align-items-center justify-content-center justify-content-md-evenly mx-auto py-3 mb-4">


    <h3 class="container-fluid d-flex flex-wrap align-items-center justify-content-center justify-content-md-evenly mx-auto py-3 mb-4"
>Delete List</h3>

<p>Are you sure you want to add this to Completed list <i>{{ object.title }}</i>?</p>

<div class="container-fluid d-flex flex-wrap align-items-center justify-content-center justify-content-md-evenly mx-auto py-3 mb-4">
    <form method="POST" action="{% url "item-complete" todo_list.id object.id %}" >
        {% csrf_token %}
        <input
            value="Yes, complete."
            type="submit">
    </form>

</div>

<input
    value="Cancel"
    type="button"
    onclick="location.href='{% url "index" %}';">
</div>


{% endblock %}