{% extends "base.html" %}

{% block content %}
<div class="container-fluid border fw-normal shadow-sm p-2 mb-5 rounded d-flex flex-wrap align-items-center justify-content-center justify-content-md-evenly mx-auto py-3 mb-4">
    <div 
    >
        <div class="container-fluid border fw-normal shadow-sm p-2 mb-5 rounded d-flex flex-wrap align-items-center justify-content-center justify-content-md-evenly mx-auto py-3 mb-4">
            <h3 class="container-fluid text-center mx-auto py-3 mb-4">Completed list:</h3>
            <h5>{{ completed_todo_list.title | upper }}</h5>
        </div>
        <div class="container-fluid border fw-normal shadow-sm p-2 mb-5 rounded d-flex flex-wrap align-items-center justify-content-center justify-content-md-evenly mx-auto py-3 mb-4">
            <ul>
                {% for todo in object_list %}
                <li>
                    <div>
                        <div
                            role="button"
                            onclick="location.href=
                            '{% url "list" todo.todo_list.id %}'">
                            {{ todo.todo_list.title }}
                            (Due {{ todo.due_date | date:"l, F j"}})
                        </div>
                    </div>
                </li>

                
                {% empty %}
                <p>There are no to-do items in this list.</p>
                {% endfor %}
            </ul>
            
        </div>
    
    </div>
</div>
{% endblock %}